name: Continuous Integration

on: [push]

jobs:
  ci:
#    if: ${{ false }}
    name: ci
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Update
        run: |
         sudo apt-get update
      - name: Cache Scala
        uses: coursier/cache-action@v6
      - name: Setup Scala
        uses: coursier/setup-action@v1
        with:
          jvm: adopt:11
          apps: sbt mill
      - name: Setup Dependencies
        run: |
          sudo apt-get install ccache
      - name: Initialize submodule
        run: |
          git submodule init
          git submodule update
      - name: Install Verilator
        run: sudo apt-get install -y verilator gcc
      - name: SBT Test
        run: sbt test
